$accent-color: #00a500;
$accent-active-color: rgba(0, 165, 0, 0.48);
$default-color: black;
$text-color: #e6eecf;
$text-active-color: #57697a;
$black-20-color: rgba(0, 0, 0, 0.2);
$grey-color: grey;
$grey-35-color: rgb(217, 217, 217);
$white-color: rgb(255, 255, 255);
