.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  &__list {
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 10px;
    padding-left: 15px;
    background-color: $accent-color;
    font-size: 24px;
    text-transform: uppercase;

    &_active {
      color: $text-active-color;
      background-color: $accent-active-color;
    }

    & a {
      color: $text-color;
      text-decoration: none;
    }
  }

  &__burger {
    width: 20px;
    height: 20px;
    color: $default-color;
  }

  &__close {
    display: none;
    width: 20px;
    height: 20px;
    color: $default-color;
  }
}
